swagger: "2.0"

info:
  version: "1.0.0"
  title: "TickX API"
  x-logo:
    url: 'https://www.tickx.co.uk/images/tickx-logo-2016.svg'
    backgroundColor: null
    
  description: |
      # Introduction
      The TickX API is built on HTTP. Our API is RESTful and has predictable resource URLs. It returns HTTP response codes to indicate errors. It also returns JSON in the HTTP body. You can use whatever REST library you wish to access our API. By using the TickX API, you agree to the terms of service.
      
      The current iteration of our API allows you to search our records for categories, venues and events that we may have information on.
      
      # Authentication
      To access the API you must have an account. Accounts are provided by us and include a username and password. If you wish for access to our API, send us a request. Never share your API username and password. Keep them secure.
      
      The account information must be passed in the header of any requests sent to us. Invalid requests will be rejected.
     
    
  termsOfService: "https://tickx.co.uk/terms/"
  contact:
    email: "apiteam@tickx.co.uk"
    
schemes:
  - https
host: syncs.tickx.co.uk
basePath: /api/v1/

tags:
  - name: Get

securityDefinitions:
  
 
paths:                   
  /categories:
    get:
      summary: Retrieve a list of categories
      description: Returns a list of all categories.
      tags:
        -  Get
      responses:
        200:
          description: A list of categories
          schema:
            $ref: '#/definitions/Categories'
          examples:
            application/json:
              {
                "page": 1,
                "total_pages": 1,
                "rows": 1,
                "total_rows": 1,
                    "data": [
                      {
                        "id": "3",
                        "type": "comedy",
                        "name": "Stand Up",
                        "seo_name": "stand-up"
                      },
                    ]
              }
        400:
          $ref: '#/responses/Standard400ErrorResponse'
        404:
          $ref: '#/responses/Standard404ErrorResponse'
        500:
          $ref: '#/responses/Standard500ErrorResponse'
          
      x-code-samples: 
        - lang: curl
          source: |
            curl -u user:password syncs.tickx.co.uk/api/v1/categories
  /venues:
    get:
      summary: Retrieve a list of venues
      description: | 
      
        Returns a list of venues which match the query.

        Must provide either the City parameter or the LatLong parameter to get a valid response.

      tags:
        -  Get
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/city'
        - $ref: '#/parameters/latlong'
        - $ref: '#/parameters/radius'
      responses:
        200:
          description: A list of venues
          schema:
            $ref: '#/definitions/Venues'
          examples:
            application/json:
              {
                "page": 1,
                "total_pages": 1,
                "rows": 1,
                "total_rows": 1,
                    "data": [
                      {
                        "id": "313",
                        "name": "O2 Academy Brixton",
                        "city": "London",
                        "country": "GB",
                        "postcode": "SW9 9SL",
                        "address": "211 Stockwell Rd, London, SW9 9SL",
                        "lat": "51.46563949",
                        "long": "-0.11497128",
                        "venue_url": "https://tickx.co.uk/venue/313"
                      }
                    ]
              }
        400:
          $ref: '#/responses/Standard400ErrorResponse'
        404:
          $ref: '#/responses/Standard404ErrorResponse'
        500:
          $ref: '#/responses/Standard500ErrorResponse'
          
      x-code-samples: 
        - lang: curl
          source: |
            curl -u user:password syncs.tickx.co.uk/api/v1/venues?city=London&radius=10
  
  /events:
    get:
      summary: Retrieve a list of events
      description: Returns a list of events which match the query.
      
        Must provide either the City parameter or the LatLong parameter to get a valid response.
      tags:
        -  Get
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/city'
        - $ref: '#/parameters/latlong'
        - name: venue_id
          in: query
          description: Limit results to this venue.
          type: integer
        - name: date_from
          in: query
          description: Limit results to events which start after this date.
          type: string
          format: date
        - name: date_to
          in: query
          description: Limit results to events which start before this date.
          type: string
          format: date
        - name: order
          in: query
          description: The property by which results will be sorted.
          type: string
          enum:
            - title
            - startdate
            - price_from
        - name: price_from
          in: query
          description: Limit results to events which cost more than this.
          type: number
          format: double
        - name: price_to
          in: query
          description: Limit results to events which cost less than this.
          type: number
          format: double
        - name: type
          in: query
          description: Limit results to events which are of the given type.
          type: string
          enum:
            - club 
            - comedy 
            - festival
            - gig
            - lifestyle
            - sport
            - theatre
        - name: additional_info
          in: query
          description: Request additional information about the events.
          type: string
          enum:
            - artists
            - tickets
        - name: currency
          in: query
          description: The currency to return the results in.
          type: string
          format:
            ISO 4217
      responses:
        200:
          description: A list of events
          schema:
            $ref: '#/definitions/Events'
          examples:
            application/json:
              {
                "page": 1,
                "total_pages": 22,
                "rows": 50,
                "total_rows": "1079",
                "data": [
                  {
                    "id": "629873",
                    "title": "Silver Apples",
                    "type": "gig",
                    "desc": "Less reading, more listening. Hit the play button to discover their music. Remember, we handpick everything on DICE so it has our seal of approval that it will be a killer show.\n\n\nPresented by Band on the Wall.\n\nThis is a 14+ event (under18s to be accompanied by an adult).",
                    "pic": "https://cdn.viagogo.net/img/cat/1022/1/1.jpg",
                    "startdate": "2017-08-02 19:30:00",
                    "enddate": null,
                    "times": "19:30",
                    "price_from": "13.50",
                    "price_to": "14.85",
                    "currency": "GBP",
                    "url": "https://tickx.co.uk/event/629873",
                    "venue": {
                        "name": "Band On The Wall",
                        "city": "Manchester",
                        "country": "GB",
                        "postcode": "M4 5JZ",
                        "address": "25 Swan St, The Northern Quarter, Manchester M4 5JZ",
                        "lat": "53.48522700",
                        "long": "-2.23437350",
                        "venue_url": "https://tickx.co.uk/venue/20"
                    },
                    "categories": [
                      {
                        "id": "16",
                        "name": "Rock / Indie"
                      },
                      {
                        "id": "21",
                        "name": "Hard Rock / Metal"
                      },
                      {
                        "id": "24",
                        "name": "Rock / Indie / Alternative"
                      }
                    ],
                    "showings": []
                  },
                ]
              }
        400:
          $ref: '#/responses/Standard400ErrorResponse'
        404:
          $ref: '#/responses/Standard404ErrorResponse'
        500:
          $ref: '#/responses/Standard500ErrorResponse'
    
      x-code-samples: 
        - lang: curl
          source: |
            curl -u user:password syncs.tickx.co.uk/api/v1/events?city=Manchester&date_from=2017-08-02&type=gig
  
definitions:
        
  Events:
    allOf:
    - $ref: '#/definitions/Paging'
    - properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Event'
        
  Venues:
    allOf:
    - $ref: '#/definitions/Paging'
    - properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Venue'
        
  Categories:
    allOf:
    - $ref: '#/definitions/Paging'
    - properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Category'
            
  Event:
    type: object
    required:
      - id
      - title
      - startdate
      - url
    properties:
      id:
        type: integer
        readOnly: true
      title:
        type: string
      type:
        type: string
      desc:
        type: string
      pic:
        type: string
      startdate:
        type: string
        format: date
      enddate:
        type: string
        format: date
      times:
        type: string
        format: time
      price_from:
        type: number
        format: double
      price_to:
        type: number
        format: double
      currency:
        type: string
      url:
        type: string
      venue:
        $ref: '#/definitions/Venue'
      categories:
        type: array
        items:
          $ref: '#/definitions/Category'
      showings:
        type: array

  Venue:
    required:
      - id
      - name
      - city
      - country
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      city:
        type: string
      country:
        type: string
      postcode:
        type: string
      address:
        type: string
      lat:
        type: integer
      long:
        type: integer
      venue_url:
        type: string
      
  Category:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
      type:
        type: string
      name:
        type: string
      seo_name:
        type: string
            
  Paging:
    type: object
    required:
      - page
      - total_pages
      - row
      - total_rows
    properties:
      page:
        type: integer
      total_pages:
        type: integer
      row:
        type: integer
      total_rows:
        type: integer
      
responses:
  Standard500ErrorResponse:
    description: Unexpected error.
  Standard404ErrorResponse:
    description: Not found.
  Standard400ErrorResponse:
    description: Bad Request
      
parameters:
  limit:
    name: limit
    in: query
    description: Number of results returned.
    type: integer
  page:
    name: page
    in: query
    description: Page number.
    type: integer
  city:
    name: city
    in: query
    description: Name of the city to search.
    type: integer
  latlong:
    name: latlong
    in: query
    description: The centrepoint of the area to search.
    type: integer
  radius:
    name: radius
    in: query
    description: The radius to search in.
    type: integer