swagger: "2.0"

info:
  version: "1.0.0"
  title: "TickX API"
  x-logo:
    url: 'https://www.tickx.co.uk/images/tickx-logo-2016.svg'
    backgroundColor: null
    
  description:  |
    >
      You can use the TickX API to fetch and search our database to look for categories, venues and events we may have information on.
      
      By using the TickX API, you agree to the terms of service.
  termsOfService: "https://tickx.co.uk/terms/"
  contact:
    email: "apiteam@tickx.co.uk"
    
schemes:
  - https
host: syncs.tickx.co.uk
basePath: /api/v1/

tags:
  - name: Get

paths:                   
  /categories:
    get:
      summary: Retrieve a list of categories
      description: Returns a list of all categories.
      tags:
        -  Get
      responses:
        200:
          description: A list of categories
          schema:
            $ref: '#/definitions/Categories'
          examples:
            application/json:
              {
                "page": 1,
                "total_pages": 1,
                "rows": 1,
                "total_rows": 1,
                    "data": [
                      {
                        "id": "3",
                        "type": "comedy",
                        "name": "Stand Up",
                        "seo_name": "stand-up"
                      },
                    ]
              }
        400:
          $ref: '#/responses/Standard400ErrorResponse'
        404:
          $ref: '#/responses/Standard404ErrorResponse'
        500:
          $ref: '#/responses/Standard500ErrorResponse'
          
  /venues:
    get:
      summary: Retrieve a list of venues
      description: | 
      
        Returns a list of venues which match the query.

        Must provide either the City parameter or the LatLong parameter to get a valid response.

      tags:
        -  Get
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/city'
        - $ref: '#/parameters/latlong'
        - $ref: '#/parameters/radius'
      responses:
        200:
          description: A list of venues
          schema:
            $ref: '#/definitions/Venues'
          examples:
            application/json:
              {
                "page": 1,
                "total_pages": 1,
                "rows": 1,
                "total_rows": 1,
                    "data": [
                      {
                        "id": "313",
                        "name": "O2 Academy Brixton",
                        "city": "London",
                        "country": "GB",
                        "postcode": "SW9 9SL",
                        "address": "211 Stockwell Rd, London, SW9 9SL",
                        "lat": "51.46563949",
                        "long": "-0.11497128",
                        "venue_url": "https://tickx.co.uk/venue/313"
                      }
                    ]
              }
        400:
          $ref: '#/responses/Standard400ErrorResponse'
        404:
          $ref: '#/responses/Standard404ErrorResponse'
        500:
          $ref: '#/responses/Standard500ErrorResponse'
  
  /events:
    get:
      summary: Retrieve a list of events
      description: Returns a list of events which match the query.
      
        Must provide either the City parameter or the LatLong parameter to get a valid response.
      tags:
        -  Get
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/city'
        - $ref: '#/parameters/latlong'
        - name: venue_id
          in: query
          description: Limit results to this venue.
          type: integer
        - name: date_from
          in: query
          description: Limit results to events which start after this date.
          type: string
          format: date
        - name: date_to
          in: query
          description: Limit results to events which start before this date.
          type: string
          format: date
        - name: order
          in: query
          description: The property by which results will be sorted.
          type: string
          enum:
            - title
            - startdate
            - price_from
        - name: price_from
          in: query
          description: Limit results to events which cost more than this.
          type: number
          format: double
        - name: price_to
          in: query
          description: Limit results to events which cost less than this.
          type: number
          format: double
        - name: type
          in: query
          description: Limit results to events which are of the given type.
          type: string
          enum:
            - club 
            - comedy 
            - festival
            - gig
            - lifestyle
            - sport
            - theatre
        - name: additional_info
          in: query
          description: Request additional information about the events.
          type: string
          enum:
            - artists
            - tickets
        - name: currency
          in: query
          description: The currency to return the results in.
          type: string
          format:
            ISO 4217
      responses:
        200:
          description: A list of events
          schema:
            $ref: '#/definitions/Events'
          examples:
            application/json:
              {
                "page": 1,
                "total_pages": 1,
                "rows": 1,
                "total_rows": 1,
                    "data": [
                      {
                        "id": "660077",
                        "title": "Fin Taylor and Danny McLoughlin: Edinburgh Previews",
                        "type": "comedy",
                        "desc": "Two shows by two multi award winning comedians",
                        "pic": "https://d31fr2pwly4c4s.cloudfront.net/8/7/f/971839_1_fin-taylor-and-danny-mcloughlin-edinburgh-previews_th.jpg",
                        "startdate": "2017-07-31 02:00:00",
                        "enddate": "2017-08-01 00:00:00",
                        "times": "19:30",
                        "price_from": "0.00",
                        "price_to": "0.00",
                        "currency": "GBP",
                        "url": "https://tickx.co.uk/event/660077",
                        "venue": {
                            "name": "Gullivers",
                            "city": "Manchester",
                            "country": "GB",
                            "postcode": "M4 1LW",
                            "address": "109 Oldham St, Manchester M4 1LW",
                            "lat": "53.48388893",
                            "long": "-2.23391369",
                            "venue_url": "https://tickx.co.uk/venue/60"
                        },
                        "categories": [],
                        "showings": []
                      }
                    ]
              }
        400:
          $ref: '#/responses/Standard400ErrorResponse'
        404:
          $ref: '#/responses/Standard404ErrorResponse'
        500:
          $ref: '#/responses/Standard500ErrorResponse'
    
  
                  
definitions:
        
  Events:
    allOf:
    - $ref: '#/definitions/Paging'
    - properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Event'
        
  Venues:
    allOf:
    - $ref: '#/definitions/Paging'
    - properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Venue'
        
  Categories:
    allOf:
    - $ref: '#/definitions/Paging'
    - properties:
        data:
          type: array
          items:
            $ref: '#/definitions/Category'
            
  Event:
    type: object
    required:
      - id
      - title
      - startdate
      - url
    properties:
      id:
        type: integer
        readOnly: true
      title:
        type: string
      type:
        type: string
      desc:
        type: string
      pic:
        type: string
      startdate:
        type: string
        format: date
      enddate:
        type: string
        format: date
      times:
        type: string
        format: time
      price_from:
        type: number
        format: double
      price_to:
        type: number
        format: double
      currency:
        type: string
      url:
        type: string
      venue:
        $ref: '#/definitions/Venue'
      categories:
        type: array
        items:
          $ref: '#/definitions/Category'
      showings:
        type: array

  Venue:
    required:
      - id
      - name
      - city
      - country
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      city:
        type: string
      country:
        type: string
      postcode:
        type: string
      address:
        type: string
      lat:
        type: integer
      long:
        type: integer
      venue_url:
        type: string
      
  Category:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
      type:
        type: string
      name:
        type: string
      seo_name:
        type: string
            
  Paging:
    type: object
    required:
      - page
      - total_pages
      - row
      - total_rows
    properties:
      page:
        type: integer
      total_pages:
        type: integer
      row:
        type: integer
      total_rows:
        type: integer
      
responses:
  Standard500ErrorResponse:
    description: Unexpected error.
  Standard404ErrorResponse:
    description: Not found.
  Standard400ErrorResponse:
    description: Bad Request
      
parameters:
  limit:
    name: limit
    in: query
    description: Number of results returned.
    type: integer
  page:
    name: page
    in: query
    description: Page number.
    type: integer
  city:
    name: city
    in: query
    description: Name of the city to search.
    type: integer
  latlong:
    name: latlong
    in: query
    description: The centrepoint of the area to search.
    type: integer
  radius:
    name: radius
    in: query
    description: The radius to search in.
    type: integer